@import "tailwindcss";


.certificate {
  position: relative;
  width: 1123px;      /* Certificate width */
  max-width: 100%;
  margin: auto;
}

.certificate-bg {
  width: 100%;
  display: block;
}

.certificate-name {
  position: absolute;

  /* Adjust these values according to your template */
  top: 370px;
  left: 50%;
  transform: translateX(-50%);

  width: 700px;

  text-align: center;

  font-size: 38px;
  font-weight: bold;
  color: #0b5c2b;

  font-family: "Times New Roman", serif;
}